.quick-card {
  width: 100%;
  margin-bottom: 24px;
  @include cubic-transition(200ms);
  & > .card-link-wrap:hover,
  & > .card-link-wrap:focus {
    box-shadow: 0 0 16px rgba($dark-grey, 0.2);
    @include cubic-transition(400ms);
  }
  & .card-link-wrap:hover .quick-card__title,
  & .card-link-wrap:focus .quick-card__title {
    color: $teal;
    @include cubic-transition(200ms);
  }
  & .card-link-wrap:hover .quick-card__link,
  & .card-link-wrap:focus .quick-card__link {
    color: $teal;
    transform: translateX(0);
    @include cubic-transition(200ms);
  }
  & .card-link-wrap:hover .quick-card__link--underlined,
  & .card-link-wrap:focus .quick-card__link--underlined {
    border-color: $teal;
    @include cubic-transition(200ms);
  }
  & .card-link-wrap:hover .fa,
  & .card-link-wrap:focus .fa {
    color: $teal;
    @include cubic-transition(200ms);
  }
  &__feature {
    height: 270px;
    @include background-cover;
    &--1 {
      background-image: url("../img/prospectus@2x.jpg");
    }
    &--2 {
      background-image: url("../img/open-days@2x.jpg");
    }
    &--3 {
      background-image: url("../img/sports@2x.jpg");
    }
    &--4 {
      background-image: url("../img/accomodation@2x.jpg");
    }
    &--5 {
      background-image: url("../img/local-area@2x.jpg");
    }
    &--6 {
      background-image: url("../img/virtual-tour@2x.jpg");
    }
  }
  &__content {
    overflow: hidden;
    padding: 24px 16px;
    background-color: $white;
    border: 1px solid $medium-grey;
    @include clearfix;
    &--centered {
      text-align: center;
      & > .quick-card__link {
        float: none;
      }
    }
  }
  &__title {
    float: left;
    color: $dark-grey;
    line-height: 1;
    @include font-size(1.6);
    @include cubic-transition(200ms);
  }
  &__link {
    float: right;
    color: $dark-grey;
    font-weight: 500;
    @include font-size(1.4);
    @include cubic-transition(200ms);
    &--underlined {
      border-bottom: 1px solid $dark-grey;
      @include cubic-transition(200ms);
    }
  }
}

@media screen and (min-width: 600px) {
  .quick-card,
  .quick-card--wide {
    width: 50%;
    float: left;
  }
}

@media screen and (max-width: 899px) {
  .quick-card {
    &__content {
      min-height: 100px;
      &--centered .quick-card__link {
        line-height: 50px;
      }
    }
    &__title {
      width: 100%;
    }
    &__link {
      margin-top: 12px;
      float: left;
    }
  }
}

@media screen and (min-width: 900px) {
  .quick-card {
    width: 40%;
    &--wide {
      width: 60%;
    }
    &__title {
      @include font-size(1.8);
    }
    &__link {
      transform: translateX(-8px);
      @include font-size(1.4);
    }
  }
}
