.event-card {
  width: 50%;
  float: left;
  margin-bottom: 40px;
  // &:nth-child(odd) {
  //   padding-right: 12px;
  // }
  // &:nth-child(even) {
  //   padding-left: 12px;
  // }
  &__date {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border-top: 2px solid $dark-blue;
    background-color: $off-white;
  }
  &__date-block {
    display: inline-block;
    padding: 20px 12px;
    @include font-size(1.6);
    &--day {
      background-color: $dark-blue;
      color: $white;
    }
    &--month {
      color: $dark-blue;
    }
  }
  &__title {
    color: $dark-grey;
    @include font-size(1.8);
    font-weight: bold;
    @include cubic-transition(300ms);
    &:hover,
    &:focus {
      color: $teal;
      @include cubic-transition(200ms);
    }
  }
  & > a {
    display: inline-block;
  }
}

@media screen and (min-width: 900px) {
  .event-card {
    width: 25%;
    &:last-child {
      padding-right: 0;
    }
  }
}
