.hero {
  position: relative;
  z-index: 3;
  min-height: 400px;
  height: 480px;
  height: 40vh;
  padding: 80px 40px;
  text-align: center;
  &__title {
    color: $white;
    @include font-size(2.8);
    font-weight: lighter;
    line-height: 1.375;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 900px) {
  .hero {
    padding: 120px 40px;
  }
}
