.branding {
  height: auto;
  max-width: 185px;
  margin: 0 auto;
  & > a {
    color: transparent;
  }
}
@media screen and (min-width: 900px) {
  .branding {
    float: left;
  }
}

.main-navigation {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  @include clearfix;
  &__list {
    width: 100%;
    margin: 0;
    padding: 20px 0 0 0;
    list-style: none;
    text-align: center;
    & > li {
      width: auto;
      border-top: 1px solid rgba($grey, 0.6);
      @include font-size(1.6);
      font-weight: 500;
    }
    & > li > a {
      width: 100%;
      display: block;
      color: $white;
      padding: 12px;
      @include cubic-transition(200ms);
      &:hover,
      &:focus {
        background-color: $teal;
        @include cubic-transition(200ms);
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .main-navigation {
    display: block;
    position: relative;
    padding: 20px 0;
    min-width: 580px;
    &__list {
      display: block;
      padding: 0;
      & > li {
        float: left;
        border: none;
        margin-right: 24px;
        margin-bottom: 0;
        &:last-child {
          margin-right: 0;
        }
      }
      & > li > a {
        display: inline-block;
        border-bottom: 2px solid transparent;
        &:hover,
        &:focus {
          background-color: transparent;
          border-bottom: 2px solid $teal;
        }
      }
    }
  }
}

.search-toggle {
  cursor: pointer;
  position: absolute;

  z-index: 5;
  width: auto;
  padding: 12px;
  background-color: transparent;
  border: none;
  &:hover > .fa-search,
  &:focus > .fa-search {
    color: $teal;
    @include cubic-transition(200ms);
  }
  & > .fa-search {
    color: $white;
    @include font-size(2.4);
    line-height: 1;
    height: 32px;
    @include cubic-transition(200ms);
  }
}

@media screen and (max-width: 899px) {
  .search-toggle {
    top: 40px;
    left: 20px;
  }
}

@media screen and (min-width: 900px) {
  .search-toggle {
    position: relative;
    float: right;
    margin-top: 20px;
    padding: 4px;
  }
}

.search-form {
  position: absolute;
  display: none;
  height: 140px;
  width: 100%;
  top: 125px;
  left: 0;
  right: 0;
  padding: 20px 0;
  border-top: 1px solid rgba($grey, 0.6);
  background-color: $dark-grey;
  z-index: 5;
  & input[type="text"] {
    width: 100%;
    opacity: 1;
    padding: 8px;
    color: $white;
    border: none;
    border-bottom: 2px solid $light-grey;
    background-color: transparent;
    @include font-size(1.8);
    &::placeholder {
      opacity: 1;
      color: $white;
    }
  }
  & button {
    width: 100%;
    margin-top: 16px;
    border: none;
  }
  & .fa {
    color: $white;
  }
}

@media screen and (min-width: 600px) {
  .search-form {
    height: 100px;
    & input[type="text"] {
      max-width: 400px;
    }
    & button {
      width: auto;
      margin: 0;
      float: right;
    }
  }
}

@media screen and (min-width: 900px) {
  .search-form {
    & input[type="text"] {
      max-width: 760px;
    }
    & button {
      margin: 0;
      float: right;
    }
  }
}

.navigation.s-open {
  background-color: $dark-grey;
}

.search-form.s-visible {
  display: block;
}

.dropdown {
  position: relative;
  &__menu {
    z-index: 100;
    display: none;
    position: relative;
    padding: 0;
    margin: 0;
    left: 0;
    width: 100%;
    list-style: none;
    border-radius: 0 0 4px 4px;
    background-color: $white;
    & > li {
      border-top: 1px solid $light-grey;
    }
    & > li > a {
      display: block;
      width: 100%;
      padding: 12px 24px;
      @include font-size(1.4);
      @include cubic-transition(200ms);
      &:hover,
      &:focus {
        color: $white;
        background-color: teal;
        @include cubic-transition(200ms);
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .dropdown {
    &__menu {
      position: absolute;
      min-width: 200px;
    }
  }
}
