.navigation.active {
  background-color: $dark-grey;
  z-index: 10;
  & .main-navigation {
    display: block;
    background-color: $dark-grey;
  }
}

#navToggle {
  display: block;
  visibility: visible;
}

@media screen and (min-width: 900px) {
  #navToggle {
    position: absolute;
    right: -99999px;
    z-index: -999;
    display: none;
    visibility: hidden;
  }
}

.nav-toggle {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  top: 48px;
  right: 20px;
  padding: 8px;
  background-color: transparent;
  border: none;
}

.burger-icon {
  @include burger(32px, 3px, 6px, $white);
}

.nav-toggle.open .burger-icon {
  @include burger-to-cross;
}
