.news-card {
  width: 100%;
  float: left;
  margin-bottom: 24px;
  &:hover,
  &:focus {
    & .news-card__title {
      color: $teal;
      @include cubic-transition(200ms);
    }
    & .news-card__link .fa {
      color: $teal;
      @include cubic-transition(200ms);
    }
  }
  &--wide {
    width: 100%;
  }
  &__content {
    padding: 16px;
    background-color: $white;
    color: $dark-grey;
  }
  &__title {
    min-height: 120px;
    display: inline-block;
    @include font-size(1.4);
    color: $dark-grey;
    @include cubic-transition(200ms);
  }
  &__meta {
    width: 100%;
    overflow: hidden;
    @include clearfix;
  }
  &__date {
    float: left;
    font-family: $serif-font;
    @include font-size(1.4);
    color: $dark-grey;
  }
  &__link {
    float: right;
    color: $dark-grey;
  }
  & .fa {
    @include cubic-transition(200ms);
  }
}

@media screen and (min-width: 600px) {
  .news-card {
    width: 50%;
    &--wide {
      width: 100%;
    }
    &__title {
      @include font-size(1.8);
    }
  }
}

@media screen and (min-width: 1200px) {
  .news-card {
    width: 25%;
    height: 480px;
    &__image {
      height: initial;
    }
    & .news-card__content {
      min-height: 240px;
    }
    & .news-card__title {
      min-height: inherit;
    }
    &--wide {
      width: 50%;
      & .news-card__content {
        min-height: initial;
      }
      & .news-card__image {
        height: initial;
        max-height: 80%;
      }
      & .news-card__title {
        min-height: 120px;
      }
    }
  }
}
