.social-list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: auto;
  text-align: center;
  @include clearfix;
  & > li {
    display: inline-block;
    margin-right: 16px;
  }
  & > li > a {
    background-color: $teal;
    border-radius: 40px;
    padding: 8px;
    &:hover,
    &:focus {
      background-color: $white;
    }
    &:hover svg,
    &:focus svg {
      fill: $dark-blue;
    }
  }

  & a,
  & svg {
    color: transparent;
    display: block;
  }
  & img {
    max-width: 16px;
    max-height: 16px;
  }
}

.social-icon {
  height: 100%;
  width: 100%;
  max-height: 16px;
  max-width: 16px;
  fill: $white;
}

@media screen and (min-width: 600px) {
  .social-list {
    float: right;
  }
}
