.testimonial-slider {
  &__navigation {
    margin-top: 40px;
    & > ul {
      width: 100%;
      text-align: center;
      list-style: none;
      padding: 0;
      margin: 0;
    }
    & > ul > li {
      display: inline-block;
    }
  }
  &__toggle {
    color: rgba($grey, 0.5);
    @include font-size(2.4);
    line-height: 0;
    background: none;
    border: none;
    @include cubic-transition(200ms);
    &:hover,
    &:focus {
      color: $teal;
      @include cubic-transition(200ms);
    }
    &--active {
      color: $teal;
    }
  }
}
