.testimonial {
  &__item {
    text-align: center;
    &--active {
      opacity: 1;
      display: block;
    }
  }
  &__image {
    max-width: 92px;
    border-radius: 100%;
    border: 4px solid $white;
    margin-top: -92px;
    margin-bottom: 44px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 24px rgba($dark-grey, 0.2);
  }
  &__quote {
    font-family: $serif-font;
    @include font-size(2.1);
    font-style: italic;
    line-height: 1.575;
    color: $dark-blue;
    margin-bottom: 24px;
  }
  &__author {
    font-family: $serif-font;
    @include font-size(1.6);
    color: $dark-blue;
  }
}
