.contact-area {
  padding: 60px 0;
  background-color: $teal;
  text-align: center;
  &__title {
    color: $white;
    @include font-size(2.1);
  }
  &__copy {
    font-family: $serif-font;
    color: $white;
    line-height: 1.675;
    margin: 40px 0;
  }
}
