.course-finder {
  padding: 32px 0;
  background-color: $light-grey;
  &__form {
    width: 100%;
    display: block;
    @include clearfix;
    & input[type="text"],
    & select {
      font-family: inherit;
      font-weight: 500;
      padding: 12px 8px;
      border: none;
      height: 40px;
      color: $grey;
      &::placeholder {
        color: $grey;
      }
    }
    & input[type="submit"] {
      height: 40px;
      border: none;
      padding: 12px 8px;
    }
    & .form-c {
      float: left;
      padding: 6px;
      @include clearfix;
    }
    & .form-c__search {
      width: 60%;
    }
    & .form-c__select {
      width: 20%;
    }
    & .form-c__submit {
      width: 20%;
    }
    & input,
    & select,
    & input {
      width: 100%;
      float: left;
    }
  }
}
