.footer-details {
  padding: 40px 0;
  background-color: $dark-blue;
}

.copyright-text {
  text-align: center;
  width: 100%;
  font-family: $serif-font;
  color: $white;
  float: left;
  padding: 8px 0;
  margin: 0 0 20px 0;
}

@media screen and (min-width: 600px) {
  .copyright-text {
    text-align: left;
    width: auto;
    margin: 0;
  }
}
