.fw-section-header {
  margin-bottom: 36px;
  &__title {
    float: left;
  }
  &__out-link {
    float: right;
    padding: 4px 0;
    color: $dark-grey;
    transform: translateX(-4px);
    @include cubic-transition(200ms);
    &:hover,
    &:focus {
      color: $teal;
      transform: translateX(0);
      @include cubic-transition(200ms);
    }
    &:hover > .fa,
    &:focus > .fa {
      color: $teal;
      @include cubic-transition(200ms);
    }
  }
}
