.header {
  position: relative;
  width: 100%;
  min-height: 600px;
  min-height: 60vh;
  background-color: rgb(152, 153, 151);
  background: linear-gradient(
    180deg,
    rgba(152, 153, 151, 1) 0%,
    rgba(112, 126, 130, 1) 25%,
    rgba(57, 57, 63, 1) 45%,
    rgba(127, 126, 115, 1) 70%,
    rgba(56, 47, 43, 1) 100%
  );
  background-image: url("../img/hero@2x.jpg");
  @include background-cover;
  &:after {
    position: absolute;
    content: "";
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($dark-grey, 0.4);
  }
}
