.navigation {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 20px;
  @include clearfix;
  &__right {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .navigation {
    &__right {
      width: auto;
      float: right;
    }
  }
}
