.button {
  cursor: pointer;
  display: inline-block;
  padding: 16px 20px;
  border-radius: 40px;
  color: $dark-blue;
  font-weight: bold;
  background-color: $white;
  @include cubic-transition(300ms);
  &:hover,
  &:focus {
    @include cubic-transition(200ms);
  }
  &--teal {
    color: $white;
    background-color: $teal;
    &:hover,
    &:focus {
      background-color: $dark-blue;
    }
  }
  &--outlined {
    padding: 12px 24px;
    color: $white;
    border: 2px solid $white;
    background-color: transparent;
    &:hover,
    &:focus {
      color: $dark-blue;
      background-color: $white;
    }
  }
  &--square {
    border-radius: 0;
  }
  &--dark-blue {
    color: $white;
    background-color: $dark-blue;
    &:hover,
    &:focus {
      background-color: $teal;
    }
  }
}
