$teal: #009b86;
$dark-blue: #214a61;
$dark-grey: #353535;
$grey: #666666;
$medium-grey: #dddddd;
$light-grey: #e6e6e6;
$off-white: #f4f4f4;
$white: #ffffff;

$sans-font: "Montserrat", Helvetica, Arial, sans-serif;
$serif-font: "Merriweather", serif;
