// Mixins and Variables for the project
@import "_mixins";
@import "_variables";

// Vendor
// SCSS libraries for things like sliders etc.
@import "vendor/_normalize";
// @import 'vendor/slick';
// @import 'vendor/slick-theme';
// @import 'vendor/_angled-edges';
@import "vendor/_burger";

// Globals
// For bigger projects where typography, buttons, etc. need to be broken up for management.
@import "_typography";
@import "_buttons";

// Layout
// Definitions of page layout, & the layout of modules / elements in those pages
@import "layout/_header";
@import "layout/_navigation";
@import "layout/_fw-section-header";
@import "layout/_course-finder";
@import "layout/_quick-links";
@import "layout/_testimonial-slider";
@import "layout/_upcoming-events";
@import "layout/_latest-news";
@import "layout/_contact-area";
@import "layout/_g-map";
@import "layout/_footer";

// Modules
// Specific individual elements of a website - a card used on several pages
@import "modules/_main-navigation";
@import "modules/_mobile-navigation";
@import "modules/_hero";
@import "modules/_testimonial-item";
@import "modules/_testimonial-nav";
@import "modules/_social-icons";
@import "modules/_card";
@import "modules/_event-card";
@import "modules/_news-card";

* {
  box-sizing: border-box;
}

:focus {
  outline: 2px solid $teal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $sans-font;
  @include font-size(1.6);
  color: $dark-grey;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  margin: 0 20px;
  @include clearfix;
  &--small {
    margin: 0 40px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
    &--small {
      max-width: 760px;
    }
  }
}

.row {
  margin-left: -12px;
  margin-right: -12px;
  @include clearfix;
  &--g {
    margin-left: 0;
    margin-right: 0;
  }
}

.card-link-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: transparent;
}

.fa-long-arrow-alt-right {
  margin-left: 8px;
  color: $dark-grey;
  @include cubic-transition(200ms);
}

.card {
  padding: 12px;
  @include clearfix;
}

.ie-fa {
  float: left;
  max-width: 24px;
  height: auto;
  color: transparent;
  border: none;
}
